---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import MensajeEnvio from '../components/MensajeEnvio.jsx';
---

<Layout>
    <section class="relative w-full h-[300px] md:h-[500px] slide-in-left">
        <img  src="/banner1.jpg" 
            alt="Banner de NISEGA" 
            class="w-full h-full object-cover"
        />
        <div class="absolute inset-0 bg-[#00000057] bg-opacity-40 flex items-center justify-center pointer-events-none flex-col gap-4">
            <h1 class="text-white text-4xl md:text-6xl font-bold text-center pointer-events-auto">
                Contacto
            </h1>
        </div>
    </section>
    <MensajeEnvio client:load />
    <div id="loader" class="hidden flex justify-center mb-4">
        <svg class="animate-spin h-12 w-12 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
        </svg>
    </div>
    
</Layout>

<script>
    window.addEventListener("DOMContentLoaded", () => {
    const hash = window.location.hash;

    if (hash === "#envio") {
        const target = document.getElementById("envio");
        if (target) {
        // Pequeño delay para asegurar que todo esté cargado
        setTimeout(() => {
            target.style.display = "block"; // Mostrar si estaba oculto
            target.scrollIntoView({ behavior: "smooth", block: "start" });
        }, 1000);
        }
    }
    });
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("contacto-form")!;
    const loader = document.getElementById("loader")!;

    form.addEventListener("submit", () => {
      loader.classList.remove("hidden");
    //   form.classList.add("hidden");
     // Deshabilitar todos los elementos del formulario
      const elements = form.querySelectorAll("input, textarea, button");
      elements.forEach(el => {

        if (el instanceof HTMLButtonElement) {
           el.textContent = 'Enviando…';
            el.disabled = true;
        }
      });
    });
  });
</script>