<footer class="bg-[#1E2939]">
    <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center max-sm:flex-col max-sm:gap-4 max-sm:text-center">
      <a href="/index" class="flex items-center space-x-2">
        <img src="/nisega/logo.png" alt="Logo NSG" class="h-25 w-auto m-1 max-sm:mx-0" />
        <span class="font-bold text-5xl text-white">NISEGA</span>
      </a>
      <nav class="flex flex-col space-x-4">
        <span class="text-white">Allen, Rio Negro</span>
        <span class="text-white">Teléfono: 123456</span>
        <a href="mailto:contacto@nisega.com" class="text-white">Email: contacto@nisega.com</a>
      </nav>
      <nav class="flex flex-col space-x-4">
        <span class="text-white text-lg font-bold max-sm:w-full">Nuestras Redes</span>
        <div class="flex gap-4 self-center">
            <a href="#" class="text-white hover:text-blue-600 transition">
                <img src="/nisega/insta.png" alt="Instagram" class="h-10 w-auto m-1 max-sm:mx-0" />            
            </a>
            <a href="#" class="text-white hover:text-blue-600 transition">
                <img src="/nisega/face.png" alt="Facebook" class="h-10 w-auto m-1 max-sm:mx-0" />            
            </a>
        </div>
      </nav>
    </div>
</footer>