<header class="sticky top-0 z-50 bg-white shadow-md">
    <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
      <a href="/index" class="flex items-center space-x-2">
        <img src="/nisega/logo.png" alt="Logo NSG" class="h-12 w-auto m-1 max-sm:mx-0" />
        <span class="font-bold text-4xl">NISEGA</span>
      </a>
      <nav class="space-x-4">
        <a href="#formacion" class="text-gray-700 hover:text-blue-600 transition">Formación</a>
        <a href="#servicios" class="text-gray-700 hover:text-blue-600 transition">Servicios</a>
        <a href="#servicios" class="text-gray-700 hover:text-blue-600 transition">Mediciones</a>
        <a href="#sobre" class="text-gray-700 hover:text-blue-600 transition">Sobre nosotros</a>
        <a href="#contacto" class="text-gray-700 hover:text-blue-600 transition">Contacto</a>
      </nav>
    </div>
  </header>