<header class="sticky top-0 z-50 bg-white shadow-md">
    <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
      <a href="/index" class="flex items-center space-x-2">
        <img src="/logo.png" alt="Logo NSG" class="h-15 w-auto mx-10 max-sm:mx-0" />
      </a>
      <nav class="space-x-4">
        <a href="#servicios" class="text-gray-700 hover:text-blue-600 transition">Servicios</a>
        <a href="#sobre" class="text-gray-700 hover:text-blue-600 transition">Sobre nosotros</a>
        <a href="#contacto" class="text-gray-700 hover:text-blue-600 transition">Contacto</a>
      </nav>
    </div>
  </header>