---
import Footer from "../components/Footer.astro";
import HeaderReact from '../components/HeaderReact.jsx';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NISEGA</title>
        <link rel="icon" type="image/png" href="/nisega/logo.png" />
	</head>
	<body class="bg-white text-gray-900 flex flex-col min-h-screen">
        <HeaderReact client:load />
        <slot />
        <Footer />
    </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
